{% extends "layout.html" %}
{% block title %} History {% endblock %}
{% block main %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Symbol</th>
        <th scope="col">Shares</th>
        <th scope="col">Price</th>
        <th scope="col">Transacted</th>
      </tr>
    </thead>
    <tbody>
      {% for row in rows %}
      <tr>
        <td>{{ row["symbol"] | safe }}</td>
        <td>{{ row["amount"] | safe }}</td>
        <td>{{ row["price"] | safe }}</td>
        <td>{{ row["time"] | safe }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
